body {
  background-color: #111;
}

.copy {
  font-size: 32px;
  padding: 20px 0 60px 0;
  display: flex;
  justify-content: center;
  color: white;
  background: linear-gradient(#111, #000);
}

.copy__icon {
  font-size: 42px !important;
  margin-right: 10px;
}

.copy a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.copy a:hover {
  text-decoration: underline;
}
